<div class="container">
  <h1 class="text-center">Inline | Sort | Responsive</h1>

  <table class="table">
    <thead>
      <tr>
          <th class="d-none d-md-table-cell" scope="col"><button (click)="updateSort('pseudo')" type="button" class="btn btn-link p-0">Pseudo {{ getSortDisplay('pseudo') }}</button></th>
          <th class="d-none d-md-table-cell" scope="col"><button (click)="updateSort('firstname')" type="button" class="btn btn-link p-0">Firstname {{ getSortDisplay('firstname') }}</button></th>
          <th class="d-none d-md-table-cell" scope="col"><button (click)="updateSort('lastname')" type="button" class="btn btn-link p-0">Lastname {{ getSortDisplay('lastname') }}</button></th>

          <th class="d-table-cell d-md-none" scope="col"><button (click)="updateSort('pseudo')" type="button" class="btn btn-link p-0">Users {{ getSortDisplay('pseudo') }}</button></th>

          <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr app-row-item *ngFor="let user of users" [user]="user" (edited)="sort()"></tr>
    </tbody>
  </table>
