<ng-container [formGroup]="form">
<!--
  Permet de declarer un formGroup sans briser la structure <table> du DOM avec une balise <form>
  https://angular.io/guide/structural-directives#ng-container-to-the-rescue
-->

  <td class="d-none d-md-table-cell align-middle">
    <span [class.d-none]="editing">@{{ user.pseudo }}</span>

    <div [class.d-none]="reading" class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input formControlName="pseudo" [class.is-invalid]="form.invalid" type="text" class="form-control">
    </div>
  </td>

  <td class="d-none d-md-table-cell align-middle">
    <span [class.d-none]="editing">{{ user.firstname }}</span>
    <input formControlName="firstname" [class.d-none]="reading" type="text" class="form-control">
  </td>

  <td class="d-none d-md-table-cell align-middle">
    <span [class.d-none]="editing">{{ user.lastname }}</span>
    <input formControlName="lastname" [class.d-none]="reading" type="text" class="form-control">
  </td>

  <td class="d-table-cell d-md-none align-middle">
    <p  [class.d-none]="editing" class="font-weight-bold">@{{ user.pseudo }}</p>
    <span [class.d-none]="editing">{{ user.firstname }} {{ user.lastname }}</span>

    <div [class.d-none]="reading" class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input formControlName="pseudo" [class.is-invalid]="form.invalid" type="text" class="form-control">
    </div>
    <input formControlName="firstname" [class.d-none]="reading" type="text" class="form-control mb-2">
    <input formControlName="lastname" [class.d-none]="reading" type="text" class="form-control">
  </td>

  <td style="width: 90px">
    <button [class.d-none]="editing" (click)="edit()" class="btn btn-warning text-white w-100">Edit</button>

    <button [disabled]="form.invalid" [class.d-none]="reading" (click)="save()" class="btn btn-success w-100">Save</button>
  </td>
</ng-container>
